.git
.github
.gitignore

.env
.env.*
!.env.example
!.env.docker

vendor
node_modules

.phpunit.result.cache
.phpunit.cache
coverage

bootstrap/cache/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*

.idea
.vscode
.codex
.cursor/
.nova
.phpunit.cache
.zed
*.swp
*.swo
**/*.md
.DS_Store

storage/dbadmin/*
docker/dbadmin/*
docker/dbadmin-dev/*
